@import '~bulma/sass/utilities/initial-variables';
@import './global-variables.scss';

@import '~bulma/sass/utilities/_all';

@import '~bulma/sass/base/generic.sass';
@import '~bulma/sass/base/helpers.sass';

@import '~bulma/sass/elements/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/layout/_all';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font: 100%/1.625 -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  background: #242c3d;
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  transition: all 0.2s;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/*
* === Global Styles ===
*/

.is-homepage,
.is-gamepage {
  background: linear-gradient(45deg, #1c2431, #1c2431);
}

.is-innerpage {
  background: #242c3d;
  height: 100%;

  header {
    nav {
      background: rgba($esportsgear-dark, 0.94);
      border-bottom: 1px solid darken($esportsgear-dark, 3);
      box-shadow: 0 2px 15px 0 rgba(17, 22, 28, 0.16);
    }
  }

  &.is-itempage {
    header {
      nav {
        border-bottom: 1px solid darken($esportsgear-dark, 7);
      }
    }
  }
}

.text-white {
  color: white;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
* === Layout Styles ===
*/

.container-grid {
  display: block;
  padding: 1.5rem;

  &.two-columns {
    @include desktop {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/*
* === Helper Styles ===
*/

.social-svg-icon {
  path {
    fill: white;
  }
}

/*
* === CSS Transitions ===
*/

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 0;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/*
 * === Tooltip ===
 */

.rc-tooltip {
  &.dark {
    .rc-tooltip-arrow {
      border-bottom-color: $esportsgear-dark !important;
    }

    .rc-tooltip-inner {
      background: $esportsgear-dark !important;
      color: white !important;
    }
  }
  &.light {
    .rc-tooltip-arrow {
      border-bottom-color: white !important;
    }

    .rc-tooltip-inner {
      background: white !important;
      color: #232323 !important;
    }
  }
}
