@import '~bulma/sass/utilities/_all';

// Config vars
$esportsgear-blue: #0090f1;
$esportsgear-dark: #283143;
$esportsgear-invert: #fff;

$primary: $esportsgear-blue;
$primary-invert: $esportsgear-invert;

// Navbar
$navbar-background-color: transparent;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $esportsgear-dark;
$navbar-dropdown-background-color: $esportsgear-dark;
$navbar-dropdown-item-active-background-color: $esportsgear-dark;
$navbar-dropdown-item-hover-background-color: darken($esportsgear-dark, 1);
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-border-top: 0;
$navbar-height: 4.25rem;
$navbar-box-shadow-size: 0 2px 15px 0;
$navbar-box-shadow-color: rgba(17, 22, 28, 0.16);
$navbar-padding-horizontal: 3rem;

// Table
$table-color: white;
$table-background-color: transparent;
$table-cell-border: 0px;
$table-cell-padding: 0.25rem;
$table-head-cell-color: white;

// Brand Colours
$facebook: #3b5998;
$instagram: #c13584;
$youtube: #ff0000;
$twitch: #6441a5;
