@import '../../styles/global-variables.scss';

.wrapper {
  display: grid;
}

.header {
  background: darken($esportsgear-dark, 5);
  background-size: cover;
  position: relative;
  padding-top: 4.25rem;

  @media screen and (max-width: 500px) {
    padding-top: 7.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(28, 36, 49, 0.85);
  }

  .container {
    margin: 0.5rem 1.5rem 0px;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }

  .displayImage {
    display: none;

    @include tablet {
      display: block;
      flex: 0 0 auto;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        vertical-align: middle;
        background: white;
        background-clip: padding-box;
        overflow: hidden;
      }
    }
  }

  .profile {
    @include tablet {
      padding: 1.5rem 2rem;
      margin-right: 3rem;
    }

    .details {
      display: flex;
      align-items: center;
      flex: 0 0 auto;

      .name {
        margin-right: 3rem;
        margin-bottom: 0;
        flex: 1 0 auto;
      }

      .social {
        display: flex;
        a {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 0.5rem;
          color: white;
          fill: currentColor;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }

    .team {
      text-transform: uppercase;
      color: $esportsgear-blue;
      font-size: 0.8rem;
      font-weight: 500;
    }

    .games {
      display: flex;
      margin-top: 1rem;
      > a {
        background: lighten($esportsgear-dark, 5);
        padding: 0.65rem 1rem;
        border-radius: 6px;
        font-size: 0.85rem;
        font-weight: 500;
        margin-right: 1rem;

        &:hover {
          text-decoration: none;
          background: lighten($esportsgear-dark, 8);
        }
      }
    }
  }

  .videos {
    display: none;

    @include tablet {
      display: block;
      flex: 0 1 auto;

      h4 {
        margin: 0 0 0.25rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
      }

      .videosContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.5rem;

        @include desktop {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .video {
          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }

          @include desktop {
            &:nth-child(3),
            &:nth-child(4) {
              display: block;
            }
          }
          img {
            border-radius: 6px;
            width: auto;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .nav {
    position: relative;
    z-index: 1;
    padding: 1rem 1.5rem 0;
    border-bottom: 1px solid darken($esportsgear-dark, 5);

    h2 {
      margin: 0;
      padding: 0 0.75rem 1rem;
      font-size: 1.2rem;
      border-bottom: 2px solid $esportsgear-blue;
      display: inline-block;
    }
  }
}

.content {
  background: darken($esportsgear-dark, 2);
  position: relative;

  .container {
    margin: 1.5rem;
  }

  .body {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
