@import '../../styles/global-variables.scss';

.wrapper {
  &.isModal {
    display: flex;
    width: 100%;

    @include mobile {
      height: 100%;
      margin-top: 4.3rem;
    }

    .container {
      background: white;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
      color: #232323;
      flex-direction: column-reverse;

      @include tablet {
        flex-direction: row-reverse;
      }
    }
  }

  &.innerPage {
    display: flex;
    justify-items: center;
    margin: auto;
    width: 100%;

    @include mobile {
      height: 100%;
      margin-top: 4.3rem;
    }

    @media screen and (max-width: 500px) {
      margin-top: 8.3rem;
    }

    @include tablet {
      max-width: 80%;
      align-items: center;
      height: 100vh;
    }

    @include desktop {
      max-width: 60rem;
    }

    .container {
      background: white;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      color: #232323;
      flex-direction: column-reverse;

      @include tablet {
        flex-direction: row-reverse;
      }

      .content {
        @include desktop {
          width: 26rem;
        }
      }

      .itemImage {
        @include mobile {
          display: block;
        }

        @media screen and (max-width: 500px) {
        }
      }
    }
  }

  .content {
    padding: 2rem;
    background-color: lighten($esportsgear-dark, 75);
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @include tablet {
      width: 19rem;
      padding: 2rem;
    }

    @include desktop {
      padding: 2rem;
      width: 21rem;
    }

    .category {
      font-size: 0.8rem;
      color: $esportsgear-blue;
      text-transform: uppercase;
      font-weight: 500;

      @include desktop {
        font-size: 0.9rem;
      }
    }

    h1 {
      font-size: 1.55rem;
      font-weight: 800;
      margin: 0 0 1rem;

      @include tablet {
      }

      @include desktop {
        margin: 0;
        font-size: 1.85rem;
      }
    }

    .heading {
      display: flex;
      justify-content: space-between;
      align-content: center;
      font-weight: 500;
      margin-bottom: 1rem;

      h4 {
        font-weight: 700;
        opacity: 0.5;
        font-size: 0.85rem;
        margin: 0;

        @include desktop {
          font-size: 0.95rem;
        }
      }
    }

    .toggleGamers {
      font-size: 0.8rem;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }

    .details {
      width: 100%;
    }

    .gamers {
      display: grid;
      grid-gap: 0.6rem;
      grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
      margin-bottom: 2rem;

      .gamerImg {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: black;
        background-clip: padding-box;
        overflow: hidden;

        @include tablet {
          width: 30px;
          height: 30px;
        }

        @include desktop {
          width: 34px;
          height: 34px;
        }
      }
    }

    .button {
      background-color: $esportsgear-blue;
      padding: 0.8rem 1rem;
      border-radius: 5px;
      font-size: 0.9rem;
      display: inline-block;

      &:hover {
        text-decoration: none;
        background-color: darken($esportsgear-blue, 4);
      }
    }
  }

  .itemImage {
    display: flex;
    background-color: white;
    flex: 1 0 0%;
    width: 100%;
    position: relative;

    .container {
      flex-direction: column;
      flex-shrink: 0;

      @include tablet {
        padding-bottom: 100%;
        overflow: hidden;
      }

      img {
        @include mobile {
          max-height: 280px;
          margin: 3rem auto;
        }

        @include tablet {
          max-height: 360px;
          margin: auto;
          height: auto;
          width: auto;
          vertical-align: baseline;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
