@import '../../styles/global-variables.scss';

.contentBox {
  padding: 1.25rem;
  background-color: #283143;
  border-radius: 5px;

  @include touch {
    margin-bottom: 1.5rem;
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .tableContainer {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    .table {
      width: 100%;
      max-width: 100%;
      font-size: 0.9rem;
      color: #7e90a5;

      th,
      td {
        min-width: 30px;
        padding: 0.5rem 0;
        vertical-align: middle;
      }

      .ranking {
        min-width: 30px;
        width: 30px;
      }

      .image {
        min-width: 47px;
        width: 47px;
      }

      .name {
        min-width: 160px;
      }

      .gamers {
        min-width: 200px;
        text-align: right;
      }

      @include touch {
        th,
        td {
          min-width: 30px;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

.itemImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-size: 80%;
  vertical-align: middle;
}

.gamerImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 3.2px;
  margin: 0 0.2rem;
  vertical-align: middle;
  background-color: black;
  background-clip: padding-box;
  overflow: hidden;
}

.more {
  font-size: 0.8rem;
  vertical-align: middle;
  width: 67px;
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #2c3747;
  margin: 0 -0.5rem 0.5rem;
  padding: 0 0.75rem 0.5rem;

  h3 {
    margin-bottom: 0;
  }
}

.pagination {
  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 1.5rem;
    min-height: 1.5rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 33%;
  }
  .nextButton {
    span {
      background: url('../../images/ic_right_arrow_small.png') no-repeat 50%;
      display: inline-flex;
      background-size: 33%;
    }
  }
  .prevButton {
    span {
      background: url('../../images/ic_left_arrow_small.png') no-repeat 50%;
      display: inline-flex;
      background-size: 33%;
    }
  }
}
