@import '../../styles/global-variables.scss';

.header {
  .navbar {
    min-height: 4.25rem;
    position: relative;
    z-index: 30;
    color: white;
    min-height: 4.25rem;
    align-items: stretch;
    display: flex;
    padding: 0 1rem;

    @media screen and (max-width: 500px) {
      flex-flow: row wrap;
      padding: 0 1rem 1rem;
    }

    @include desktop {
      min-height: 4.25rem;
      align-items: stretch;
      display: flex;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 30;
    }

    &.hasBg {
      background: rgba($esportsgear-dark, 0.94);
      border-bottom: 1px solid darken($esportsgear-dark, 3);
      box-shadow: 0 2px 15px 0 rgba(17, 22, 28, 0.16);
    }

    .brand {
      align-items: stretch;
      display: flex;
      flex-shrink: 0;
      min-height: 4.25rem;

      @media screen and (max-width: 500px) {
        flex: 1 0 100%;
        justify-content: center;
      }
    }

    .item {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;

      &.hasDropdown {
        align-items: stretch;
      }

      &.hoverable {
        &:hover {
          .dropdown {
            display: block;
          }
        }
      }
    }

    .item,
    .link {
      color: white;
      display: block;
      line-height: 1.5;
      padding: 0.5rem 0.75rem;
      position: relative;
      align-items: center;
      display: flex;

      @include touch {
        align-items: center;
        display: flex;
      }

      @include desktop {
        align-items: center;
        display: flex;
      }
    }

    .menu {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: flex-end;

      @media screen and (max-width: 500px) {
        justify-content: center;
      }

      @include desktop {
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-start;
      }
    }

    .start {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;

      @include desktop {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        margin-right: auto;
      }
    }

    .end {
      align-items: stretch;
      display: flex;
      justify-content: flex-end;
      margin-left: auto;

      @include desktop {
        align-items: stretch;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
      }
    }

    .dropdownWrapper {
      display: flex;
      padding: 0.75rem 0.5rem 0.75rem 0;

      @media screen and (max-width: 500px) {
        padding: 0;
      }

      @include tablet {
        padding: 0.75rem 1rem;
      }

      .dropdownContainer {
        background: rgba(255, 255, 255, 0.075);
        border-radius: 8px;
        padding: 0;
        font-size: 0.85rem;
        font-weight: 500;

        @include tablet {
          font-size: 0.95rem;
          min-width: 200px;
        }

        &:hover {
          border-radius: 8px 8px 0 0;
          .dropdownLink {
            width: 100%;
            background: rgba(#364053, 0.98);
            border-radius: 8px 8px 0 0;
          }
        }

        .dropdownLink {
          width: 100%;
          padding: 0 2.5rem 0 1rem;

          @media screen and (max-width: 600px) {
            max-width: 280px;
          }

          @media screen and (max-width: 500px) {
            min-width: 280px;
            min-height: 47px;
          }

          @include tablet-only {
            max-width: 280px;
          }

          @include tablet {
            padding: 0 2.5rem 0 1rem;
          }
          &:after {
            content: ' ';
            display: block;
            pointer-events: none;
            position: absolute;
            top: 50%;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: center;
            transform-origin: center;
            border: 2px solid transparent;
            border-radius: 2px;
            border-right: 0;
            border-top: 0;
            border-radius: 1px;
            height: 0.425em;
            width: 0.425em;
            border-color: #3273dc;
            margin-top: -0.3em;
            right: 0.9em;
          }

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 0.75rem;
          }

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .dropdownMenu {
          background: rgba(#364053, 0.98);
          padding: 0.5rem 0;
          border-radius: 8px 0 8px 8px;

          @media screen and (max-width: 500px) {
            border-radius: 0 0 8px 8px;
          }

          @include tablet {
            border-radius: 0 8px 8px 8px;
          }

          .dropdownItem {
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
              background: $esportsgear-dark;
            }

            img {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              margin-right: 1rem;
            }

            span {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .dropdown {
      font-size: 0.875rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      background-color: #283143;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 0;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      display: none;
      font-size: 0.875rem;
      min-width: 100%;
      position: absolute;
      top: 100%;
      z-index: 20;
      right: 0;
      left: auto;

      @media screen and (max-width: 500px) {
        left: 0;
        right: 0;
        margin: auto;
      }

      @include tablet {
        background-color: #283143;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 0;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        display: none;
        font-size: 0.875rem;
        left: 0;
        right: auto;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20;
      }

      .item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    .search {
      display: none;

      @include tablet {
        display: flex;
        // align-items: center;
      }
    }
  }

  .logo {
    a {
      &:hover {
        text-decoration: none;
      }
    }

    h1 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 800;
      font-style: italic;
      color: white;
      margin: 0;

      span {
        color: $primary;
      }
    }
  }
}
