@import '../../styles/global-variables.scss';

.wrapper {
  color: white;
  background: darken($esportsgear-dark, 15);
  position: relative;
  padding-top: 4.25rem;

  @media screen and (max-width: 500px) {
    padding-top: 7.5rem;
    text-align: center;
  }

  &.hasBg {
    background-size: cover;
    border-bottom: 1px solid darken($esportsgear-dark, 9);
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(28, 36, 49, 0.85);
    }
  }

  h1,
  h2,
  h3 {
    color: white;
    font-weight: bold;
  }

  h1 {
    &.title {
      margin: 0 0 0.5rem;
      letter-spacing: 0.5px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1.3;

      @media screen and (max-width: 500px) {
        margin-bottom: 1rem;
      }

      @include desktop {
        font-size: 2.17rem;
        line-height: initial;
      }
    }
  }

  .subtitle {
    font-weight: 600;
    color: #7e90a5;
    margin: 0.5rem 0 3rem;
    line-height: 1.4;

    @include tablet {
      font-size: 1.07rem;
      line-height: 1.5;
      width: 50%;
      line-height: initial;
    }

    @include desktop {
      font-size: 1.07rem;
      line-height: 1.5;
      width: 50%;
    }
  }

  .container {
    position: relative;
    padding: 1.5rem 0;
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 0;

    .header {
      padding: 0 1.5rem;
      > h3 {
        font-size: 1rem;
        text-transform: uppercase;
        color: white;
        margin-left: 0.75rem;
        margin-bottom: 1.5rem;

        img {
          width: 14px;
          position: relative;
          top: 4px;
          margin-right: 0.4rem;
        }
      }
    }
  }
}
