@import '../../styles/global-variables.scss';

.wrapper {
  display: flex;
  position: relative;
  height: 100vh;

  .container {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: 50rem;
    margin: auto;
    width: 100%;

    @include touch {
      max-width: 80%;
    }
  }

  .closeButton {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 55px;
    position: absolute;
    padding: 0.5rem;
    top: 0;
    right: 0;
    box-sizing: content-box;

    @include tablet {
      padding: 2rem;
    }
  }
}
