@import '../../styles/global-variables.scss';

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  background: rgba(49, 60, 79, 0.7);
  border-radius: 8px;
  transition: all 0.2s;
  &:hover {
    background-color: #313c4f;
  }
  > div {
    flex: 0 1 100%;
    text-align: center;
    padding: 1.5rem;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.75px;
    margin: 0;
  }
}

.image {
  width: 80px;
  height: 80px;
  display: inherit;
  margin: auto;
  position: relative;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  background-size: 80% !important;
}

.gamerImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 3.2px;
  margin: 0 0.2rem;
  vertical-align: middle;
}

.more {
  font-size: 0.8rem;
  vertical-align: middle;
  margin-left: 0.3rem;
  color: #7e90a5;
  font-weight: 500;
}
