@import '../../styles/global-variables.scss';

.ais-InstantSearch__root {
  position: relative;
  display: flex;

  @include tablet {
    width: 235px;
    padding: 0.75rem 0.5rem;
  }

  @include desktop {
    width: 300px;
  }

  .icon-search {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    pointer-events: none;
    display: flex;
    justify-content: center;
    fill: rgba(255, 255, 255, 0.3);

    @include tablet {
      left: 0.75rem;
    }

    @include desktop {
      left: 1rem;
    }
  }

  .react-autosuggest__container {
    position: relative;
    flex: 1;

    input {
      padding: 1rem 1rem 1rem 3rem;
      border: none;
      box-shadow: none;
      border-radius: 6px;
      width: 100%;
      background: rgba(255, 255, 255, 0.075);
      color: white;

      @include tablet {
        padding: 1rem 0.5rem 1rem 2.5rem;
      }

      @include desktop {
        padding: 1rem 1rem 1rem 3rem;
      }

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.3);
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.3);
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.3);
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.3);
      }

      &:focus {
        outline: none;
      }
    }

    &.react-autosuggest__container--open {
      .icon-search {
        fill: #232323;
      }

      input {
        background: rgba(255, 255, 255, 0.95);
        color: #232323;
        border-radius: 6px 6px 0 0;
      }
      .react-autosuggest__suggestions-container {
        position: absolute;
        top: 100%;
        background: rgba(255, 255, 255, 0.95);
        border-radius: 0 0 6px 6px;
        box-shadow: rgba(26, 26, 29, 0.3) 0px 15px 46px -10px !important;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        padding: 0.5rem 0;
        border-top: 1px solid #eaeaea;

        .ais-Hits-list,
        .ais-InfiniteHits-list,
        .react-autosuggest__suggestions-list {
          padding: 0;
          margin: 0;
          list-style-type: none;
          color: #232323;

          .ais-Hits-item,
          .ais-InfiniteHits-item,
          .react-autosuggest__suggestion {
            > div {
              color: #232323;
              padding: 0.5rem 1rem;
              display: block;
              cursor: pointer;

              &:hover {
                text-decoration: none;
                background-color: lighten($esportsgear-dark, 70);
              }

              .item-image {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                vertical-align: middle;
                margin-right: 1rem;
              }
            }

            &.react-autosuggest__suggestion--highlighted {
              background-color: lighten($esportsgear-dark, 70);
            }
          }
        }

        .ais-InfiniteHits-loadMore {
          background: none;
          border: none;
          box-shadow: none;
          padding: 0.5rem 1rem;
          cursor: pointer;
          width: 100%;

          &:hover {
            text-decoration: underline;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .ais-SearchBox-submit {
    display: none;
  }

  .ais-SearchBox-reset {
    display: none;
  }
}
