@import '../../styles/global-variables.scss';

.swiper-container {
  padding-right: 1.5rem;

  .swiper-wrapper {
    padding: 0 1.5rem;
    .swiper-slide {
      width: auto;
      margin-right: 30px;

      @include mobile {
        width: 44%;
      }

      @media screen and (max-width: 520px) {
        width: 75%;
      }

      @include tablet {
        width: 34%;
      }

      @include desktop {
        width: 20%;
      }
    }
  }
}
